.categorias-container {
  margin-top: .5rem;
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.categorias-container {
  margin-top: .5rem;
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
}